// app global css in SCSS form
@font-face {
  font-family: LeagueSpartan;
  src: url(./fonts/LeagueSpartan.ttf);
}

.league-spartan {
  font-family: "LeagueSpartan";
}

* {
  font-family: "LeagueSpartan";
  font-weight: 600;
}

.custom-submenu-box {
  cursor: pointer;

  &:hover {
    background-color: #ef933a;
    color: #fff;
  }

  &.active {
    background-color: #ef933a;
    color: #fff;
  }
}

.prompt-color {
  color: #ef933a;
}

.pal-color {
  color: #398492;
}

.bg-app {
  background: url("src/assets/svg/patternpad3.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e5b7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#e7e5b7, 10);
}

#chat-messages > * {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
    font-weight: 600;
  }
}

#dropdown-menu .q-icon.on-left {
  background-color: #ef933a;
  border-radius: 2px;
  font-size: 1.25rem;
  color: #fff;
}

.custom-border {
  border: 1px solid #ccc;
}

.credit-border {
  border-radius: 4px;

  padding: 0 10px;
  margin: 0 5px;
  color: #fff !important;

  &.active {
    background-color: #4caf50;
    border-color: #4caf50;
  }

  &.inactive {
    background-color: #f44336;
    border-color: #f44336;
  }

  &.free {
    background-color: darken(#f2c037, 8);
    border-color: darken(#f2c037, 8);
  }
}
