// app global css in SCSS form
// body {
//   overflow: hidden;
// }
@font-face {
  font-family: LeagueSpartan;
  src: url(./fonts/LeagueSpartan.ttf);
}

.league-spartan {
  font-family: "LeagueSpartan";
}

* {
  font-family: "LeagueSpartan";
  font-weight: 600;
}

.custom-submenu-box {
  cursor: pointer;

  &:hover {
    background-color: #ef933a;
    color: #fff;
  }

  &.active {
    background-color: #ef933a;
    color: #fff;
  }
}

.prompt-color {
  color: #ef933a;
}

.pal-color {
  color: #398492;
}

.bg-app {
  background: url("src/assets/svg/patternpad3.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e5b7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#e7e5b7, 10);
}

#chat-messages > * {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px !important;
    font-weight: 600;
  }
}

#dropdown-menu .q-icon.on-left {
  border-radius: 2px;
  font-size: 1.25rem;
  color: #fff;
}

.custom-border {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.credit-border {
  border-radius: 4px;
  font-size: 0.85rem;
  vertical-align: middle;

  padding: 2px 10px;
  margin: 0 5px;
  color: #fff !important;

  &.active {
    text-shadow: 1px 1px 1px rgba(#ef933a, 1);
    background: rgb(239, 192, 58);
    background: linear-gradient(
      0deg,
      rgba(239, 192, 58, 1) 14%,
      rgba(245, 186, 81, 1) 59%,
      rgba(239, 147, 58, 1) 100%
    );
    border-color: #ddd;
  }

  &.inactive {
    background: rgb(247, 112, 102);
    background: linear-gradient(
      0deg,
      rgba(247, 112, 102, 1) 0%,
      rgba(244, 67, 54, 1) 74%
    );
    border: none;
  }

  &.free {
    background-color: darken(#f2c037, 8);
    border-color: darken(#f2c037, 8);
  }

  &.large-font {
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#card-table .q-table__top,
#invoice-table .q-table__top {
  background-color: #398492;
  color: #fff;
}

#subscription-table .q-table__top {
  background-color: #ef933a;
  color: #fff;
}

.hover-underline:hover {
  text-decoration: underline;
}
.content {
  background-color: white;
  max-height: 250px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1rem;

  &.active {
    max-height: 550px;
  }
}
.terms-privacy-height {
  height: 700px;
  max-height: 900px;
}

@media (max-width: $breakpoint-xs-max) {
  .remove-border {
    border: none !important;
  }

  .padding_sm {
    padding: 0 38px;
  }

  ::-webkit-scrollbar {
    height: 2px;
  }

  .menu {
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  .content {
    max-height: 80px;
  }
  .bg-app {
    background: url("src/assets/svg/patternpad-mob-2.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .terms-privacy-height {
    height: 400px;
  }
}

.shepherd-content {
  background: rgb(13, 167, 196);
  background: linear-gradient(
    0deg,
    rgba(13, 167, 196, 1) 0%,
    rgba(57, 132, 146, 1) 93%
  );
  color: #fff;

  .shepherd-text {
    color: #fff;
  }
}

.shepherd-footer {
  align-items: center;
  justify-content: space-between;
}

.shepherd-arrow:before {
  background: rgb(13, 167, 196) !important;
  background: linear-gradient(
    0deg,
    rgba(13, 167, 196, 1) 0%,
    rgba(57, 132, 146, 1) 93%
  ) !important;
  // border-left: 2px solid #3c1265;
  // border-top: 2px solid #3c1265;
}

.shepherd-button {
  background-color: transparent !important;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff !important;
  padding: 0.5rem 0.5rem !important;
}

.fab-help a span div > * {
  font-size: 18px !important;
}
.fab-help a span div {
  padding-left: 0;
  padding-top: 0.2rem;
}

.love-btn span > i {
  font-size: 17px !important;
}
.love-btn span > span {
  padding-right: 0;
  padding-top: 0.2rem;
}
